.task-list-item {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.grid-item {
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 1em;
  padding-right: 1em;
}