.task-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;

  .title-container {
    display: flex;
    align-items: center;
    min-width: 0px;

    a {
      color: #4b5456;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-right: 2em;

      &:hover {
        color: #293234;
      }
    }

    mat-icon {
      margin-right: 8px;
      flex-shrink: 0;
    }
  }

  .controls-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    gap: 2em;
  }

  .type {
    width: 4em;
    flex-grow: 0;
    text-align: center;
    background: #4b5456;
    color: #f2fbfd;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 8px;
  }

  mat-slide-toggle {
    margin-left: 5px;
  }

  button {
    &:hover {
      background: #f7f7f7;
    }
  }
}