@use '@angular/material' as mat;
@use '../../../m3-theme.scss';

.form-container {
  @include mat.all-component-themes(m3-theme.$light-theme);
  @include mat.system-level-colors(m3-theme.$light-theme);
  @include mat.system-level-typography(m3-theme.$light-theme);

  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  .task-form {
    h2 {
      margin-bottom: 20px;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2em;
      border-style: solid;
      border-color: gainsboro;
      border-width: 1px;
      border-radius: 8px;
      box-shadow: 3px 3px 8px gray;
      padding: 3em;

      button {
        width: 80%;
        font-size: 18px;
      }

      .form-item {
        display: flex;
        flex-direction: column;
        width: 80%;
      }
    }
  }
}

@media (max-width: 500px) {
  .task-form {
    width: 90%;
    margin-top: 0em;
    margin-bottom: 1em;
  }

  h2 {
    font-size: 24px;
  }
}

@media (min-width: 500px) {
  .task-form {
    width: 70%;
  }
}

@media (min-width: 700px) {
  .task-form {
    width: 50%;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  h2 {
    font-size: 36px;
  }
}

@media (min-width: 900px) {
  .task-form {
    width: 40%;
  }
}

@media (min-width: 1200px) {
  .task-form {
    width: 30%;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

@media (min-width: 1500px) {
  .task-form {
    width: 25%;
  }
}