<div class="form-container">
  <div class="task-form">
    <h2>Create Task</h2>
    <form [formGroup]="taskForm" (ngSubmit)="createTask()">
      <mat-form-field class="form-item">
        <mat-label>
          <mat-icon>text_fields</mat-icon>
          Title
        </mat-label>
        <input matInput type="text" formControlName="title" />
        @if (
          taskForm.controls.title.invalid && 
          (taskForm.controls.title.touched || taskForm.controls.title.dirty)) 
          {
          @if (taskForm.controls.title.errors?.["required"]) {
            <mat-error>title is required</mat-error>
          }
        }
      </mat-form-field>
      <mat-form-field class="form-item">
        <mat-label>
          <mat-icon>description</mat-icon>
          Description
        </mat-label>
        <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="5" cdkAutosizeMaxRows="7" formControlName="description" ></textarea>
        @if (
          taskForm.controls.description.invalid && 
          (taskForm.controls.description.touched || taskForm.controls.description.dirty)) 
          {
          @if (taskForm.controls.description.errors?.["required"]) {
            <mat-error>description is required</mat-error>
          }
        }
      </mat-form-field>
      <mat-form-field class="form-item">
        <mat-label>
          <mat-icon>schedule</mat-icon>
          Type
        </mat-label>
        <input matInput type="text" formControlName="type" />
        @if (
          taskForm.controls.type.invalid && 
          (taskForm.controls.type.touched || taskForm.controls.type.dirty)) 
          {
          @if (taskForm.controls.type.errors?.["required"]) {
            <mat-error>type is required</mat-error>
          }
        }
      </mat-form-field>
      <button mat-flat-button type="submit" [disabled]="!taskForm.valid">Create Task</button>
    </form>
  </div>
</div>