<div class="form-container">
  <div class="task-form">
    <h2>{{ "CREATE.TITLE" | translate }}</h2>
    <form [formGroup]="taskForm" (ngSubmit)="createTask()">
      <mat-form-field class="form-item">
        <mat-label>
          <mat-icon>text_fields</mat-icon>
          {{ "CREATE.TITLE-FIELD" | translate }}
        </mat-label>
        <input matInput type="text" formControlName="title" />
        @if (
          taskForm.controls.title.invalid && 
          (taskForm.controls.title.touched || taskForm.controls.title.dirty)) 
          {
          @if (taskForm.controls.title.errors?.["required"]) {
            <mat-error>{{ "CREATE.ERROR.TITLE-REQUIRED" | translate }}</mat-error>
          }
        }
      </mat-form-field>
      <mat-form-field class="form-item">
        <mat-label>
          <mat-icon>description</mat-icon>
          {{ "CREATE.DESCRIPTION" | translate }}
        </mat-label>
        <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="5" cdkAutosizeMaxRows="7" formControlName="description" ></textarea>
        @if (
          taskForm.controls.description.invalid && 
          (taskForm.controls.description.touched || taskForm.controls.description.dirty)) 
          {
          @if (taskForm.controls.description.errors?.["required"]) {
            <mat-error>{{ "CREATE.ERROR.DESCRIPTION-REQUIRED" | translate }}</mat-error>
          }
        }
      </mat-form-field>
      <mat-form-field class="form-item">
        <mat-label>
          <mat-icon>schedule</mat-icon>
          {{ "CREATE.TYPE" | translate }}
        </mat-label>
        <input matInput type="text" formControlName="type" />
        @if (
          taskForm.controls.type.invalid && 
          (taskForm.controls.type.touched || taskForm.controls.type.dirty)) 
          {
          @if (taskForm.controls.type.errors?.["required"]) {
            <mat-error>{{ "CREATE.ERROR.TYPE-REQUIRED" | translate }}</mat-error>
          }
        }
      </mat-form-field>
      <mat-form-field class="form-item">
        <mat-label>
          <mat-icon>person</mat-icon>
          {{ "CREATE.ASSIGNED" | translate }}
        </mat-label>
        <mat-select formControlName="assignedTo">
          <mat-option value="UNASSIGNED">
            UNASSIGNED
          </mat-option>
          @if (users$ | async; as users) {
            @for (user of users; track user.id) {
              <mat-option [value]="user.id">
                {{ user.firstName }}
                {{ user.lastName }}
                ({{ user.username }})
              </mat-option>
            }
          }
        </mat-select>
        @if (
          taskForm.controls.assignedTo.invalid && 
          (taskForm.controls.assignedTo.touched || taskForm.controls.assignedTo.dirty)) 
          {
          @if (taskForm.controls.assignedTo.errors?.["required"]) {
            <mat-error>{{ "CREATE.ERROR.ASSIGNED-REQUIRED" | translate }}</mat-error>
          }
        }
      </mat-form-field>
      <button mat-flat-button type="submit" [disabled]="!taskForm.valid">{{ "CREATE.SUBMIT" | translate }}</button>
    </form>
  </div>
</div>