form {
  display: flex;
}

.form-item {
  display: flex;
  flex-direction: column;
  margin-right: 1em;
}

button {
  height: 2em;
}

small {
  color: red;
  width: 100%;
}

input {
  margin-left: 1em;
}