<mat-toolbar role="navigation">
  <div class="logo">
    <mat-icon>fact_check</mat-icon>
    <h1>TaskManager</h1>
  </div>
  <div class="nav-links">
    <button class="desktop-button" mat-button routerLink="/tasks/create-task">
      <mat-icon>add_task</mat-icon>
      CREATE TASK
    </button>
    <button class="desktop-button" mat-button routerLink="/tasks/task-list">
      <mat-icon>list</mat-icon>
      TASK LIST
    </button>
    @if (this.authService.currentUser()?.roles?.includes("Admin")) {
      <button class="desktop-button" mat-button routerLink="/users/user-list">
        <mat-icon>person</mat-icon>
        USER LIST
      </button>
    }
    <button mat-icon-button (click)="sidenav.toggle()" class="mobile-button">
      <mat-icon>menue</mat-icon>
    </button>
  </div>
  @if (authService.currentUser()) {
    <div class="user-info">
      <p>
        {{ authService.currentUser()?.firstName }}
        {{ authService.currentUser()?.lastName }}
      </p>
      <button mat-icon-button (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  }
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" autoFocus="false" role="navigation" position="end">
    <div class="side-container">
      @if (authService.currentUser()) {
        <div class="user-info-mobile">
          <p>
            {{ authService.currentUser()?.firstName }}
            {{ authService.currentUser()?.lastName }}
          </p>
          <button mat-icon-button (click)="logout()">
            <mat-icon>logout</mat-icon>
          </button>
        </div>
      }
      <button class="side-button" (click)="sidenav.toggle()" mat-button routerLink="/tasks/create-task">
        <mat-icon>add_task</mat-icon>
        CREATE TASK
      </button>
      <button class="side-button" (click)="sidenav.toggle()" mat-button routerLink="/tasks/task-list">
        <mat-icon>list</mat-icon>
        TASK LIST
      </button>
      @if (this.authService.currentUser()?.roles?.includes("Admin")) {
        <button class="side-button" (click)="sidenav.toggle()" mat-button routerLink="/users/user-list">
          <mat-icon>person</mat-icon>
          USER LIST
        </button>
      }
    </div>
  </mat-sidenav>
  <mat-sidenav-content role="main">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>