<mat-toolbar role="navigation">
  <div class="logo">
    <mat-icon>fact_check</mat-icon>
    <h1>TaskManager</h1>
    <select #langSelect (change)="this.translate.use(langSelect.value)">
      @for (lang of this.translate.getLangs(); track $index) {
        <option [value]="lang" [selected]="lang === this.translate.currentLang">{{ lang }}</option>
      }
    </select>
  </div>
  <div class="nav-links">
    @if (this.authService.isAdmin()) {
      <button class="desktop-button" mat-button routerLink="/tasks/create-task">
        <mat-icon>add_task</mat-icon>
        {{ "NAV.CREATE" | translate }}
      </button>
    }
    @if (authService.currentUser()) {
      <button class="desktop-button" mat-button routerLink="/tasks/task-list">
        <mat-icon>list</mat-icon>
        {{ "NAV.LIST" | translate }}
      </button>
    }
    @if (this.authService.isAdmin()) {
      <button class="desktop-button" mat-button routerLink="/users/user-list">
        <mat-icon>person</mat-icon>
        {{ "NAV.USER" | translate }}
      </button>
    }
    @if (authService.currentUser()) {
      <button mat-icon-button (click)="sidenav.toggle()" class="mobile-button">
        <mat-icon>menue</mat-icon>
      </button>
    }
  </div>
  @if (authService.currentUser()) {
    <div class="user-info">
      <p>
        {{ authService.currentUser()?.firstName }}
        {{ authService.currentUser()?.lastName }}
      </p>
      <button mat-icon-button (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  }
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" autoFocus="false" role="navigation" position="end">
    <div class="side-container">
      @if (authService.currentUser()) {
        <div class="user-info-mobile">
          <p>
            {{ authService.currentUser()?.firstName }}
            {{ authService.currentUser()?.lastName }}
          </p>
          <button mat-icon-button (click)="logout()">
            <mat-icon>logout</mat-icon>
          </button>
        </div>
      }
      @if (this.authService.isAdmin()) {
        <button class="side-button" (click)="sidenav.toggle()" mat-button routerLink="/tasks/create-task">
          <mat-icon>add_task</mat-icon>
          {{ "NAV.CREATE" | translate }}
        </button>
      }
      <button class="side-button" (click)="sidenav.toggle()" mat-button routerLink="/tasks/task-list">
        <mat-icon>list</mat-icon>
        {{ "NAV.LIST" | translate }}
      </button>
      @if (this.authService.isAdmin()) {
        <button class="side-button" (click)="sidenav.toggle()" mat-button routerLink="/users/user-list">
          <mat-icon>person</mat-icon>
          {{ "NAV.USER" | translate }}
        </button>
      }
    </div>
  </mat-sidenav>
  <mat-sidenav-content role="main">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>