<div class="details-container">
  @if (task$ | async; as task) {
    <form class="task-details" [formGroup]="editForm" (ngSubmit)="onSave(task)">
      <div class="details-item">
        <div class="details-header">
          <h1>{{ "TASK-DETAILS.TITLE" | translate }}</h1>
          @if (!editable) {
            @if (this.authService.isAdmin() || this.authService.isManager()) {
              <button mat-icon-button type="button" matTooltip="{{ 'TASK-DETAILS.EDIT' | translate }}" matTooltipPosition="below" (click)="onEdit(task)">
                <mat-icon>edit</mat-icon>
              </button>
            }
          } @else {
            <div>
              <button mat-icon-button type="button" (click)="onCancel()" matTooltip="{{ 'TASK-DETAILS.CANCEL' | translate }}" matTooltipPosition="below">
                <mat-icon>close</mat-icon>
              </button>
              <button mat-icon-button type="submit" [disabled]="!editForm.valid" matTooltip="{{ 'TASK-DETAILS.SAVE' | translate }}" matTooltipPosition="below">
                <mat-icon>check</mat-icon>
              </button>
            </div>
          }
        </div>
        @if (!editable) {
          <h2>{{ task.title }}</h2>
        } @else {
          @if (this.authService.isAdmin()) {
            <input type="text" class="edit-input" formControlName="title" [value]="editForm.value.title">
            @if (
              editForm.controls.title.invalid && 
              (editForm.controls.title.touched || editForm.controls.title.dirty)) 
              {
              @if (editForm.controls.title.errors?.["required"]) {
                <small>*{{ "TASK-DETAILS.ERROR.TITLE-REQUIRED" | translate }}</small>
              }
            }
          } @else {
            <h2>{{ task.title }}</h2>
          }
        }
      </div>
      <div class="details-item">
        <div class="title-container">
          <mat-icon>description</mat-icon>
          <h3>{{ "TASK-DETAILS.DESCRIPTION" | translate }}</h3>
        </div>
        @if (!editable) {
          <p>{{ task.description }}</p>
        } @else {
          @if (this.authService.isAdmin()) {
            <input type="text" class="edit-input" formControlName="description" [value]="editForm.value.description">
            @if (
              editForm.controls.description.invalid && 
              (editForm.controls.description.touched || editForm.controls.description.dirty)) 
              {
              @if (editForm.controls.description.errors?.["required"]) {
                <small>*{{ "TASK-DETAILS.ERROR.DESCRIPTION-REQUIRED" | translate }}</small>
              }
            }
          } @else {
            <p>{{ task.description }}</p>
          }
        }
      </div>
      <div class="details-item">
        <div class="title-container">
          <mat-icon>schedule</mat-icon>
          <h3>{{ "TASK-DETAILS.TYPE" | translate }}</h3>
        </div>
        @if (!editable) {
          <p>{{ task.type }}</p>
        } @else {
          @if (this.authService.isAdmin()) {
            <input type="text" class="edit-input" formControlName="type" [value]="editForm.value.type">
            @if (
              editForm.controls.type.invalid && 
              (editForm.controls.type.touched || editForm.controls.type.dirty)) 
              {
              @if (editForm.controls.type.errors?.["required"]) {
                <small>*{{ "TASK-DETAILS.ERROR.TYPE-REQUIRED" | translate }}</small>
              }
            }
          } @else {
            <p>{{ task.type }}</p>
          }
        }
      </div>
      <div class="details-item">
        <div class="title-container">
          <mat-icon>check</mat-icon>
          <h3>{{ "TASK-DETAILS.STATUS" | translate }}</h3>
        </div>
        @if (!editable) {
          @if (task?.status) {
            <p>{{ "TASK-DETAILS.COMPLETED" | translate }}</p>
          } @else {
            <p>{{ "TASK-DETAILS.NCOMPLETED" | translate }}</p>
          }
        } @else {
          @if (this.authService.isAdmin()) {
            <label>{{ "TASK-DETAILS.COMPLETED" | translate }}:
              <mat-slide-toggle formControlName="status" [checked]="editForm.value.status"></mat-slide-toggle>
            </label>
          } @else {
            @if (task?.status) {
              <p>{{ "TASK-DETAILS.COMPLETED" | translate }}</p>
            } @else {
              <p>{{ "TASK-DETAILS.NCOMPLETED" | translate }}</p>
            }
          }
        }
      </div>
      <div class="details-item">
        <div class="title-container">
          <mat-icon>calendar_month</mat-icon>
          <h3>{{ "TASK-DETAILS.DATE" | translate }}</h3>
        </div>
          <p>{{ task.createdOn | date: 'medium'}}</p>
      </div>
      <div class="details-item">
        <div class="title-container">
          <mat-icon>person</mat-icon>
          <h3>{{ "TASK-DETAILS.ASSIGNED" | translate }}</h3>
        </div>
        @if (!editable) {
          @if (assignedUser$ | async; as assignedUser) {
            <p>
              {{ assignedUser.firstName }}
              {{ assignedUser.lastName }}
              ({{ assignedUser.username }})
            </p>
          } @else {
            <p>{{ "TASK-DETAILS.UNASSIGNED" | translate }}</p>
          }
        } @else {
          <mat-select formControlName="assignedTo" [value]="editForm.value.assignedTo">
            <mat-option value="UNASSIGNED">
              {{ "TASK-DETAILS.UNASSIGNED" | translate }}
            </mat-option>
            @if (users$ | async; as users) {
              @for (user of users; track user.id) {
                <mat-option [value]="user.id">
                  {{ user.firstName }}
                  {{ user.lastName }}
                  ({{ user.username }})
                </mat-option>
              }
            }
          </mat-select>
          @if (
            editForm.controls.assignedTo.invalid && 
            (editForm.controls.assignedTo.touched || editForm.controls.assignedTo.dirty)) 
            {
            @if (editForm.controls.assignedTo.errors?.["required"]) {
              <small>*{{ "TASK-DETAILS.ERROR.ASSIGNED-REQUIRED" | translate }}</small>
            }
          }
        }
      </div>
    </form>
  }
</div>