<div class="details-container">
  <div class="task-details">
    <div class="details-item">
      <div class="details-header">
        <h1>Details</h1>
        @if (!editable) {
          <button mat-icon-button matTooltip="Edit task" matTooltipPosition="below" (click)="onEdit()">
            <mat-icon>edit</mat-icon>
          </button>
        } @else {
          <button mat-icon-button matTooltip="Save changes" matTooltipPosition="below" (click)="onSave()">
            <mat-icon>check</mat-icon>
          </button>
        }
      </div>
      @if (!editable) {
        <h2>{{ task?.title }}</h2>
      } @else {
        <input type="text" [value]="task?.title">
      }
    </div>
    <div class="details-item">
      <div class="title-container">
        <mat-icon>description</mat-icon>
        <h3>Description</h3>
      </div>
      @if (!editable) {
        <p>{{ task?.description }}</p>
      } @else {
        <input type="text" [value]="task?.description">
      }
    </div>
    <div class="details-item">
      <div class="title-container">
        <mat-icon>schedule</mat-icon>
        <h3>Type</h3>
      </div>
      @if (!editable) {
        <p>{{ task?.type }}</p>
      } @else {
        <input type="text" [value]="task?.type">
      }
    </div>
    <div class="details-item">
      <div class="title-container">
        <mat-icon>check</mat-icon>
        <h3>Status</h3>
      </div>
      @if (!editable) {
        @if (task?.status) {
          <p>Completed</p>
        } @else {
          <p>Not Completed</p>
        }
      } @else {
        <label for="status">Completed:
          <mat-slide-toggle name="status" [checked]="task?.status"></mat-slide-toggle>
        </label>
      }
    </div>
    <div class="details-item">
      <div class="title-container">
        <mat-icon>calendar_month</mat-icon>
        <h3>Creation Date</h3>
      </div>
        <p>{{ task?.createdOn | date: 'medium'}}</p>
    </div>
  </div>
</div>