.details-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;

  .details-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  mat-slide-toggle {
    margin-left: 5px;
  }

  small {
    color: red;
  }

  .edit-input {
    padding: 5px;
    border-color: black;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
  }

  mat-select {
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 8px;

    &:hover {
      background-color: #d1d1d1;
    }
  }

  .task-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    word-wrap: break-word;
    margin: 1em;
    padding: 3em;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    box-shadow: 3px 3px 5px gray;
    border-color: gainsboro;
  }

  p {
    margin: 0px;
    font-size: 18px;
  }

  h3 {
    font-size: 24px;
  }

  h2 {
    font-size: 28px;
    margin: 0;
  }

  h1 {
    font-size: 36px;
  }

  .title-container {
    mat-icon {
      flex-shrink: 0;
    }

    display: flex;
    align-items: center;
  }
}

@media (min-width: 1000px) {
  .task-details {
    width: 30%;
  }
}

@media (max-width: 1000px) {
  .task-details {
    width: 40%;
  }
}

@media (max-width: 700px) {
  .task-details {
    width: 90%;
  }
}

@media (min-width: 1500px) {
  .task-details {
    width: 25%;
  }
}