mat-toolbar {
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 1px 10px #6f797a;

  .logo {
    display: flex;
    align-items: center;
    
    mat-icon {
      margin-right: 3px;
    }
  }
}