// comment

<div class="form-container">
  <div class="register-form">
    <h2>{{ "REGISTER.TITLE" | translate }}</h2>
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      @if (registerError) {
        <p class="register-error">{{ "REGISTER.ERROR.TAKEN" | translate }}</p>
      }
      <mat-form-field class="form-item">
        <mat-label>
          <mat-icon>person</mat-icon>
          {{ "REGISTER.FNAME" | translate }}
        </mat-label>
        <input matInput type="text" formControlName="firstName" />
        @if (
          registerForm.controls.firstName.invalid && 
          (registerForm.controls.firstName.touched || registerForm.controls.firstName.dirty)) 
          {
          @if (registerForm.controls.firstName.errors?.["required"]) {
            <mat-error>{{ "REGISTER.ERROR.FNAME-REQUIRED" | translate }}</mat-error>
          }
        }
      </mat-form-field>
      <mat-form-field class="form-item">
        <mat-label>
          <mat-icon>person</mat-icon>
          {{ "REGISTER.LNAME" | translate }}
        </mat-label>
        <input matInput type="text" formControlName="lastName" />
        @if (
          registerForm.controls.lastName.invalid && 
          (registerForm.controls.lastName.touched || registerForm.controls.lastName.dirty)) 
          {
          @if (registerForm.controls.lastName.errors?.["required"]) {
            <mat-error>{{ "REGISTER.ERROR.LNAME-REQUIRED" | translate }}</mat-error>
          }
        }
      </mat-form-field>
      <mat-form-field class="form-item">
        <mat-label>
          <mat-icon>person</mat-icon>
          {{ "REGISTER.USERNAME" | translate }}
        </mat-label>
        <input matInput type="text" formControlName="username" />
        @if (
          registerForm.controls.username.invalid && 
          (registerForm.controls.username.touched || registerForm.controls.username.dirty)) 
          {
          @if (registerForm.controls.username.errors?.["required"]) {
            <mat-error>{{ "REGISTER.ERROR.USERNAME-REQUIRED" | translate }}</mat-error>
          }
        }
      </mat-form-field>
      <mat-form-field class="form-item">
        <mat-label>
          <mat-icon>password</mat-icon>
          {{ "REGISTER.PASSWORD" | translate }}
        </mat-label>
        <input matInput type="password" formControlName="password" />
        @if (
          registerForm.controls.password.invalid && 
          (registerForm.controls.password.touched || registerForm.controls.password.dirty)) 
          {
          @if (registerForm.controls.password.errors?.["required"]) {
            <mat-error>{{ "REGISTER.ERROR.PASSWORD-REQUIRED" | translate }}</mat-error>
          }
        }
      </mat-form-field>
      <button mat-flat-button type="submit" [disabled]="!registerForm.valid">{{ "REGISTER.SUBMIT" | translate }}</button>
      <a routerLink="/login">{{ "REGISTER.LOGIN" | translate }}</a>
    </form>
  </div>
</div>