.task-list {
  width: 60%;
  text-align: center;
  margin: auto;
  margin-top: 3em;
}

.list-item {
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 95% 5%;

  button {
    height: 2em;
  }
}

.empty-message {
 margin-top: 10em;
}