.task-container {
  width: 80%;
  margin: auto;
  margin-top: 8em;

  h2 {
    font-size: 32px;
    margin-bottom: 10px;
  }
}

.task-list {
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: gainsboro;
  border-radius: 10px;
}

mat-divider {
  border-color: gainsboro; 
}