<div class="main-container">
  @if (tasks$ | async; as taskList) {
    <div class="list-container">
      <h2>{{ "LIST.TITLE" | translate }}</h2>
      <div class="task-list">
        @for (task of taskList; track task.id; let last = $last) {
          <div class="list-item">
            <task-list-item [task]=task (toggleCompleteEvent)="updateTask($event)" (removeTaskEvent)="removeTask($event)"/>
          </div>
          @if (!last) {
            <mat-divider></mat-divider>
          }
        } @empty {
          <div class="empty-message">
            <h2>{{ "LIST.EMPTY" | translate }}</h2>
          </div>
        }
      </div>
    </div>
  }
</div>